extends ../index.pug
block head
    style
        include ../../styles/cart.css
block content
    .container
        .section-header
            span Your
            span.highlight orders
        if orders.length > 0
            table
                thead
                    tr
                        th #
                        th Date
                        th(style="text-align: center") Items
                        th(style="text-align: right") Total Value
                tbody
                    each order in orders
                        tr
                            td #{ order.id }
                            td #{ order.createdAt.toISOString() }
                            td(style="text-align: center") #{ order.items.length }
                            td(style="text-align: right") #{ order.totalValue }
