.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #27a9d5;
    z-index: 3000;
}

.navbar-container {
    padding: 0 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

.navbar-items {
    max-width: 1200px;
}

.nav-item {
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
}

.nav-item:hover, .nav-item:active {
    background-color: #59b6d3;
}