extends layouts/main-layout.pug

block content
  main
    .hero.is-warning.is-medium
      .hero-body.has-text-centered
        p.title.is-2 Welcome to the very first NodeJS Shop!
        p.subtitle.has-text-grey-darker Just the best for you