@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
}

form {
  display: inline;
}

.container {
  padding: 0 2rem;
}

.main-header {
  background-color: #ffdd57;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.main-header__brand,
.main-header__item {
  color: rgb(0 0 0 / 70%);
  padding: 1rem 0.75rem;
}

.main-header__brand {
  font-weight: bold;
}

.main-header > .main-header__brand {
  color: rgb(0 0 0 / 70%);
}

.main-header__item {
  color: #4a4a4a;
  line-height: 1.5;
  position: relative;
}

.main-header__brand:hover,
.main-header__item:active,
.main-header__item.active,
.main-header__item:hover {
  background-color: #ffd83d;
}

a {
  text-decoration: none;
}

.primary-text {
  color: #ffdd57;
}

.secondary-text {
  color: #4a4a4a;
}

.subtitle {
  color: #7a7a7a;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
}

.main-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2.5rem 5rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #aaa;
  color: #4a4a4a;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.primary-bg {
  background-color: #ffdd57;
}

.secondary-bg {
  background-color: #7a7a7a;
}

.btn-primary {
  background-color: #ffdd57;
  color: #4a4a4a;
  font-size: large;
  border-color: transparent;
  font-weight: 600;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 50px;
}

.menu-item {
  cursor: pointer;
  text-align: center;
  color: #4a4a4a;
  font-size: 1.25rem;
  padding: 3.5rem;
}

.menu-item:hover {
  background-color: #ffd83d;
}

/* @media (min-width: 768px) {
  nav.list {
    display: flex;
    flex-direction: column;
  }

  #side-menu-toggle {
    display: none;
  }

  .menu-container {
    display: grid;
    grid-gap: 50px;
  }

  .grid {
    display: grid;
    grid-gap: 2.5rem 5rem;
  }
} */
