.card.product
  .card__image
    img(src="https://i.stack.imgur.com/VnYkw.gif")
  .card__actions
    form(action="products/add-product", method="get")
      button.btn.primary-bg(type="submit", alt="Add product") 
        i.fas.fa-fw.fa-plus
        span Add Product