nav.navbar
    .navbar-container
        a.nav-item(href="/#") Home
        a.nav-item(href="/products") Products
        a.nav-item(href="/orders") Orders
        a.nav-item(href="/cart") Cart
    a.right.nav-item(href="/login") Login
