extends ../layouts/main-layout.pug
block head
  link(rel="stylesheet" href="/libraries/css/product.css")
  link(rel="stylesheet", href="/libraries/css/_card.css")
block content
  main(style="padding: 1.5rem 0")    
    .container
      .main-title
        span.primary-text Admin 
        span.secondary-text Section
      span.subtitle.has-text-grey  Choose a category to manage
      .menu-container(style="padding: 3rem 0")
        a.card.menu-item(href="/admin/products")
          i.fas.fa-fw.fa-box
          span Products
        a.card.menu-item(href="/admin/users")
          i.fas.fa-fw.fa-user
          span Users
        a.card.menu-item(href="/admin/orders")
          i.fas.fa-fw.fa-shopping-cart
          span Orders
        a.card.menu-item(href="/admin/transport")
          i.fas.fa-fw.fa-truck
          span Transport