extends ../layouts/main-layout.pug

block content
  main(style="padding: 1.5rem 0")
    .container
      .main-title
        span.primary-text Admin 
        span.secondary-text Section
      p.subtitle.has-text-grey  Choose a category to manage
      .grid
        a.card(style="padding: 5rem; background: orange")
          i.fas.fa-fw.fa-box
          span Products
        a.card(style="padding: 5rem; background: orange")
          i.fas.fa-fw.fa-box
          span Products
        a.card(style="padding: 5rem; background: orange")
          i.fas.fa-fw.fa-box
          span Products
        a.card(style="padding: 5rem; background: orange")
          i.fas.fa-fw.fa-box
          span Products
        a.card(style="padding: 5rem; background: orange")
          i.fas.fa-fw.fa-box
          span Products
        a.card(style="padding: 5rem; background: orange")
          i.fas.fa-fw.fa-box
          span Products

      .columns.is-centered 
        .column.is-half
          .columns.is-multiline
            a.column(href="/admin/products").column.is-one-quarter
              .notification.is-warning
                span.icon-text
                  span.icon
                    i.fas.fa-box
                  span Products
            a.column(href="/admin/users").is-one-quarter
              .notification.is-warning
                span.icon-text
                  span.icon
                    i.fas.fa-user
                  span Users
            a.column(href="/admin/users").is-one-quarter
              .notification.is-warning
                span.icon-text
                  span.icon
                    i.fas.fa-shopping-cart
                  span Orders
            a.column(href="/admin/users").is-one-quarter
              .notification.is-warning
                span.icon-text
                  span.icon
                    i.fas.fa-truck
                  span Transport
            a.column(href="/admin/users").is-one-quarter
              .notification.is-warning
                span.icon-text
                  span.icon
                    i.fas.fa-handshake
                  span Partners
            a.column(href="/admin/users").is-one-quarter
              button.button.is-warning(style="padding: 1.25rem 2.5rem 1.25rem 1.5rem")
                span.icon-text
                  span.icon
                    i.fas.fa-handshake
                  span Partners