extends ../layouts/main-layout.pug

block content
  .container.is-fluid
    main(style="padding: 1.5rem 0")
      .columns.is-centered 
        .column.is-half
          h1.title Product Management
          form(action="/admin/add-product", method="post") 
            .field
              label.label Title
              .control
                input.input(placeholder="Put some title", name="title")
            .field
              label.label URL
              .control
                input.input(type="url", placeholder="Put some image here", name="url")
            .field
              label.label Description
              .control
                textarea.textarea(placeholder="Put some description", name="description")
            .field
              label.label Price
              .control
                input.input(placeholder="Put some price", name="price")
            .field
              .control
                button.button.is-warning Submit