extends ../layouts/main-layout.pug
block head
  link(rel="stylesheet" href="/libraries/css/order.css")
  link(rel="stylesheet", href="/libraries/css/_card.css")
block content
  main(style="padding: 1.5rem 0")    
    .container
      .main-title
        span.secondary-text Your 
        span.primary-text orders
      span.subtitle.has-text-grey Check it out your orders
      div(style="padding: 3rem 0")
        for order in orders
          .card
            .card__content
              p.secondary-text.order__item__title Order ##{ order.id }
              p #{ order.products.length } item(s)
              a.btn(href=`/orders/${ order.id }`) Details
              