extends ../layouts/main-layout.pug

block content
  .container
    main(style="padding: 1.5rem 0")
      div(style="display: flex; align-items: center; justify-content: center; flex-direction: column; height: 50rem")
        span.secondary-text(style="font-size:6rem") 500
        span.subtitle Oops! Something unexpected just happened!