header.main-header
  nav.list
    a.main-header__brand(href="/") NodeJS Shop
    a.main-header__item(href="/products") Products
    a.main-header__item(href="/") Orders
    a.main-header__item(href="/") Testimonials
    a.main-header__item(href="/admin") Admin
    a.main-header__item(href="/cart") Cart