<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet", href="/libraries/bulma/css/bulma.css")
    link(rel="stylesheet", href="/libraries/@fortawesome/fontawesome-free/css/all.css")
    link(rel="stylesheet", href="/libraries/css/app.css")
    block head
    title NodeJS Shop
  body
    include main-navigation.pug
    .parent
      block content